<html>

<head>
    <title>Depression Analysis</title>
</head>

<body>
    <p>
        <h4>Hello, we have developed this app for user to analyse their depression using images and textual responses through API Call</h4>
        <br> We have three API's - Analyse Facial Expressions only, Analyse Textual Sentiment and Depression Analysis
        <br><br><b>For Facial Expression</b>:
        <br> - endpoint: /image<br> - usage: curl -X POST -F \"image=@filename.extension\" https://depression-level.herokuapp.com/image
        <br><br> <b>For Sentiment Analysis</b>:<br> - endpoint: /text<br> - usage: curl https://depression-level.herokuapp.com/text?stext="prection_text"
        <br><br> <b>For Depression Analysis</b>:<br> - endpoint: /depression<br> - usage: curl -X POST -F \"image=@filename.extension\" https://depression-level.herokuapp.com/depression?stext="prediction_text"
        <br><br>

    </p>
</body>

</html>